{% extends "base.html" %}

{% block title %}关于我{% endblock title%}

{% block content%}

    <!-- <p><h1>关于作者</h1></p> -->

    <div class="row">

        <div class="col-sm-3">
            <img class="rounded" src="static/pic/stars.jpg" />
        </div>

        <div class="col-sm-9">
            <!-- <p>名字：{{admin.name}}</p>
            <p>简介：{{admin.about}}</p> -->
            <p>下班后写代码的文科生，双鱼男。</p>
            <p>十年市场营销人，曾经的蓝天救援队队员。</p>
            <p>偶尔看书、喝酒、骑车，知道几颗星星的名字。</p>
            <p>这个博客是参考教程用Flask写的，不会前端css所以外观很丑，抱歉。</p>
        </div>

    </div>






{% endblock content%}